html {
    height: 100%;
}

body {
    background: url(/media/homepage-img.jpg) no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #F39C12;
    font-family: 'Quicksand';
}

.break {
    border: 1px solid white;
}

.logo-font {
    text-transform: uppercase;
}

.logo {
    color: #000000;
}

.del-bg-custom {
    background-color: #000000;
    color: #F39C12;
}

.bg-custom {
   background-color: #F39C12;
   color: #000000;
   font-weight: bold;
}

.custom-text {
    color: #F39C12;
}

.custom-text:hover {
    color: #000000;
    background-color: #F39C12;
}

.nav-link {
    color: #000000 !important;
    background-color: #F39C12;
}

.nav-link:hover {
    color: #F39C12 !important;
    background-color: #000000;
}

.card-body {
    background-color: #F39C12;
    color: #000000;
}

input.form-control,
input.form-control:focus {
    background-color: #F39C12;
    color: black;
    font-weight: bold;
    border: 3px solid black !important;
}

.size-select,
.size-select:focus,
.size-select:active{
    background-color: #F39C12;
    color: #000000;
    font-weight: bold;
    border: 3px solid black !important;
}

option.size-select:hover {
    background-color: #000000 !important;
    color: #F39C12 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.product-details-container {
    background-color: #F39C12;
    color: #000000;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: black orange;
}

.custom-toast {
    overflow: visible;
}

.badge {
    background: #F39C12 ;
    color: #000000 !important;
}

span.badge:hover {
    background: #000000 !important;
    color: #f39C12 !important;
}

#sort-selector {
    background: #f39C12;
    color: #000000;
    text-shadow: 0px 0px 0px black;
}

::placeholder {
    color: #000000;
    font-weight: bolder;
}

.main-logo-link {
    width: fit-content;
    color: #000000;
}

.main-logo-link:hover {
    color: #F39C12;
    background-color: #000000;
}


/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #f39C12;
    font-weight: bold;
}

.allauth-form-inner-content input {
    border-color: #000000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id=remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder, 
.allauth-form-inner-content input::active,
.allauth-form-inner-content input::focus {
    color: #F39C12;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: bold;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f39C12;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover {
    	/* btn */
    font-weight: bold;
    color: #f39C12;
    background-color: #000000;
    border: 1px solid #f39C12;
}

.allauth-form-inner-content a {
    color: #000000;
    background-color: #F39C12;
    font-weight: bold;
}

.allauth-form-inner-content a:hover {
    font-weight: bold;
    color: #f39C12;
    background-color: #000000;
    border: 1px solid #f39C12;
}

/* Buttons/Icons */

/* Taken from code institute tutorials which was taken from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #F39C12;
    border-color: #000000;
    color: #000000;
}

#btn-back-to-top:hover {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #000000;
    border-color: #f39C12;
    color: #f39C12;
}

.shopping-button {
    background: #000000;
    color: #f39C12;
    font-size: medium;
    font-weight: bold;
}

.shopping-button:hover,
.shopping-button:active,
.shopping-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #f39C12;
    color: #000000;
    font-weight: bold;
    border: 1px solid #000000;
}

.btn-black {
    background: black;
    color: #F39C12;
    border: 2px solid #F39C12;
}

.update-btn,
.delete-btn  {
    color: #F39C12;
}

.update-btn:hover,
.delete-btn:hover {
    color: #000000 !important;
    background-color: #F39C12 !important;
}

.custom-icon,
.minus-icon {
    color: #f39C12;
}
.custom-icon:hover,
.minus-icon:hover {
    color: #000000;
}

.bag-icon {
    color: #000000;
}

.bag-icon:hover {
    color: #f39C12;
}

.text-black {
    color: black !important;
}

.border-black {
    border: 1px solid black !important;
}

.dropdown:hover,
.dropdown:active,
.dropdown:focus {
    background-color: #000000;
    color: #F39C12 !important;
}

.dropdown-item:hover {
    background-color: #000000;
    color: #F39C12;
}

.dropdown-item:focus {
    background-color: #F39C12;
    color: #000000;
}

.table-text {
    color: #F39C12;
    background: rgba(0, 0, 0, 0.3);
}

.table-text-muted {
    color: rgba(243, 156, 18, 0.6);
}

.close {
    color: #F39C12;
}

.toast-text {
    color: #F39C12;
    background: #000000;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #000000;
    position: absolute;
    top: -10px;
    right: 36px;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* Product form */

#id_category {
    background-color: #F39C12;
    color: #000000;
    font-weight: bold;
}

#id_description {
    background-color: #F39C12;
    font-weight: bold;
}

#id_has_sizes {
    background-color: #F39C12;
    color: #000000;
    font-weight: bold;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: red;
}

.custom-checkbox .custom-control-input:checked~custom-control-label::before {
    background-color: red;
    color: red;
    border-radius: 0;
}

/* Media Queries */

/* taken from code institute to fix the navbar to top on medium and up screens */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* E 015 Django E commerce Products App Product Data to fix bug when viewing on medium screens */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}