{% extends 'base.html' %}
{% load static %}
{% block title %} {{ blogpost.blog_title }} | {% endblock %}


{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col mt-5 page-header">
            <h2 class="text-center">{{ blogpost.blog_title }}</h2>
            <p class="mb-0 pb-3 text-center"> By: {{ blogpost.author }} | {{ blogpost.date_created }}</p>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<!-- Post -->

<div class="container text-center page-header">
    <div class="col-12 p-0">
        <div>
            {% if blogpost.image %}
                <img src="{{ blogpost.image.url }}" alt="{{ blogpost.blog_title }}" class="img-fluid">
            {% else %}
                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ blogpost.blog_title }}" class="img-fluid">
            {% endif %}
        </div>
        <div class="py-3">
            {% if request.user == blogpost.author or request.user.is_superuser %}
            <small>
                <a href="#" class="font-weight-bold btn btn-black">Edit</a><!-- button to edit the blog post -->
                <button type="button" class="btn btn-black text-danger font-weight-bold ml-3" data-toggle="modal" data-target="#deleteBlogPost">Delete</button><!-- Button to delete blog post -->
            </small>
            {% endif %}
        </div>
    </div>
    <div class="col-12 p-0 pb-4">
        <p class="mb-0 p-0">{{ blogpost.blog_body }}</p>
    </div>
</div>
    
<!-- Modal to Delete Blog post -->

<div class="modal fade" id="deleteBlogPost" tabindex="-1" aria-labelledby="deleteBlogPost" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-custom">
            <div class="modal-header">
                <h4>Delete Blog Post</h4>
                <button type="button" class="close" data-dismiss="modal" aria-labelledby="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="font-weight-bold">
                    Are you sure you want to delete this post?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-black font-weight-bold" data-dismiss="modal">Close</button>
                <a href="#" class="btn btn-black font-weight-bold">Delete</a> <!-- Insert delete blogpost link when complete-->
            </div>
        </div>
    </div>
</div>


<!-- Comment Section -->
<div class="container pt-5 mb-5 shadow">
    <div class="row">
        <div class="col-12 pb-3 page-header">
            <div>Comments</div>
            {% if blogcomments.count > 0 %}
            <p>{{ blogcomments.count }} comment</p>
            <hr>
            {% else %}
                <p>There are no comments yet! Why not be the first?</p>
            {% endif %}
            {% if not request.user.is_authenticated %}
                <p>You need to be logged in to leave a comment! <a href="{% url 'account_login' %}">Log In</a> or Register for an account <a href="{% url 'account_signup' %}">here</a></p>
            {% else %}
                <a href="{% url 'add_blogcomment' blogpost.id %}" class="btn btn-black font-weight-bold">Add a comment</a>
            {% endif %}
        </div>

        <div class="col-12 pt-4">
            {% for blogcomment in blogcomments %}
                <h4 class="page-header">{{ blogcomment.comment_title }}</h4>
                <small class="text-black">By {{ blogcomment.comment_user }} on {{ blogcomment.comment_date }}</small>
                <p class="blog-comment">{{ blogcomment.comment }}</p>
                {% if request.user == blogpost.author or request.user.is_superuser %}
                    <a href="" class="btn-btn-black-font-weight-bold"><i class="fas fa-trash-o"></i></a><!-- Delete Button -->
                    <a href="" class="btn-btn-black-font-weight-bold"><i class="fas fa-pencil-square"></i></a><!-- Edit Button -->
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}

{% block postloadjs %}
{{block.super }}
{% endblock %}