.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: #F39C12;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #F39C12;
}

.StripeElement--webkit-autofill {
  background-color: #F39C12 !important;
  color: #000000 !important;
}

.stripe-style-input::placeholder {
    color: #777;
}

.checkout-logo-font {
    font-weight: bold;
    color: #F39C12;
    text-align: center;
}

.checkout-button {
    background-color: #F39C12;
    color: #000000;
    font-size: medium;
    font-weight: bold;
}

.checkout-button:hover, 
.checkout-button:active,
.checkout-button:focus {
    background-color: #000000;
    color: #F39C12 !important;
    font-size: medium;
    text-decoration: none;
}

.payment-form {
    background-color: rgba(0, 0, 0, 0.6);
}

.payment-text {
    color: #F39C12;
    font-weight: bold;
}

#id_country {
    background-color: #F39C12;
    color: #777;
    border-color: #000000;
    font-weight: bold;
}